input[type="number"] {
  max-width: 100%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica', sans-serif !important;
  /*font-family: 'Helvetica Neue', sans-serif !important;*/
  font-weight: 400 !important;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 20px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 1;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

/* white background for no map tiles */
.leaflet-container {
  background-color: white !important;
}