/* StamMPS-Visualizer */

/* font */
body, label, input, button, select { 
  font-family: 'Helvetica', sans-serif !important;
  font-weight: 400 !important;
}

h1, h2, h3, h4 { font-weight: 400; }


/* map */
/* the class "map" is definde in ui.R */
#map {
  height: calc(100vh - 80px) !important;  
}

/* the class "controls" is definde in ui.R */
#controls {
  /* appearance */
  background-color: white;
  padding: 20px 20px 20px 20px;
  /*toggle this for dev reason*/
  /*height: auto !important;*/
  max-height: 900px !important;
  /*toggle this for scrollbar in panel*/
  overflow-y: auto !important;
  border-radius: 5px;
}

/* map control panel container box */
#cbox {
  /* appearance */
  /* this is pretty sloppy, try to find a transparanet command */
  background-color: rgba(0,0,0,0);
}